body {
    width: 100%;
    margin: 5px;
    background-color: hsla(0,0%,0%,0.6);
    color: wheat;
}

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  

.nav-bar {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}

.nav-bar li {
    float: left;
}

.nav-bar li a {
    display: block; 
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
    text-align: center;
}

table {
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border: 3px solid lightgray;
}

td {
    text-align: center;
    letter-spacing: 1px;
}